 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Цены</h2>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <TABLE class="table" id="prices-table">
                    <TR>
                        <TD ROWSPAN="2">
                            Предметы
                        </TD>
                        <TD ROWSPAN="2">
                            Возраст обучаемого
                        </TD>
                        <TD ROWSPAN="2">
                            Продолжительность занятия, мин
                        </TD>
                        <TD COLSPAN="3">
                            Стоимость, руб
                        </TD>
                    </TR>
                    <TR>
                        <TD>
                            индивидуальное занятие
                        </TD>
                        <TD>
                            Занятия в мини - группах: 2 детей
                        </TD>
                        <TD>
                            Занятия в больших группах: 3 детей и более
                        </TD>
                    </TR>
                    <TR>
                        <TD COLSPAN="6">
                            Иностранные языки
                        </TD>
                    </TR>
                    <TR>
                        <TD ROWSPAN="5">
                            Английский язык
                        </TD>
                        <TD>
                            5-6 лет
                        </TD>
                        <TD>
                            45
                        </TD>
                        <TD>
                            350
                        </TD>
                        <TD>
                            300
                        </TD>
                        <TD>
                            250
                        </TD>
                    </TR>
                    <TR>
                        <TD>
                            1&nbsp;класс
                        </TD>
                        <TD>
                            45
                        </TD>
                        <TD>
                            350
                        </TD>
                        <TD>
                            300
                        </TD>
                        <TD>
                            250
                        </TD>
                    </TR>
                    <TR>
                        <TD>
                            2-8&nbsp;классы
                        </TD>
                        <TD>
                            60
                        </TD>
                        <TD>
                            350
                        </TD>
                        <TD>
                            &mdash;
                        </TD>
                        <TD>
                            &mdash;
                        </TD>
                    </TR>
                    <TR>
                        <TD>
                            9&nbsp;класс
                        </TD>
                        <TD>
                            60
                        </TD>
                        <TD>
                            400
                        </TD>
                        <TD>
                            &mdash;
                        </TD>
                        <TD>
                            &mdash;
                        </TD>
                    </TR>
                    <TR>
                        <TD>
                            взрослые
                        </TD>
                        <TD>
                            60
                        </TD>
                        <TD>
                            400
                        </TD>
                        <TD>
                            &mdash;
                        </TD>
                        <TD>
                            &mdash;
                        </TD>
                    </TR>
                    <TR>
                        <TD>
                            Немецкий язык
                        </TD>
                        <TD>
                            2-7&nbsp;классы
                        </TD>
                        <TD>
                            60
                        </TD>
                        <TD>
                            350
                        </TD>
                        <TD>
                            &mdash;
                        </TD>
                        <TD>
                            &mdash;
                        </TD>
                    </TR>
                    <TR>
                        <TD COLSPAN="6">
                            Начальная&nbsp;школа
                        </TD>
                    </TR>
                    <TR>
                        <TD>
                            Математика
                        </TD>
                        <TD>
                            1-2&nbsp;классы
                        </TD>
                        <TD>
                            60
                        </TD>
                        <TD>
                            350
                        </TD>
                        <TD>
                            &mdash;
                        </TD>
                        <TD>
                            &mdash;
                        </TD>
                    </TR>
                    <TR>
                        <TD>
                            Русский&nbsp;язык
                        </TD>
                        <TD>
                            1-4&nbsp;классы
                        </TD>
                        <TD>
                            60
                        </TD>
                        <TD>
                            350
                        </TD>
                        <TD>
                            &mdash;
                        </TD>
                        <TD>
                            &mdash;
                        </TD>
                    </TR>
                    <TR>
                        <TD>
                            Окружающий&nbsp;мир
                        </TD>
                        <TD>
                            1-4&nbsp;классы
                        </TD>
                        <TD>
                            60
                        </TD>
                        <TD>
                            350
                        </TD>
                        <TD>
                            &mdash;
                        </TD>
                        <TD>
                            &mdash;
                        </TD>
                    </TR>
                    <TR>
                        <TD>
                            Литературное&nbsp;чтение
                        </TD>
                        <TD>
                            1-4&nbsp;классы
                        </TD>
                        <TD>
                            60
                        </TD>
                        <TD>
                            350
                        </TD>
                        <TD>
                            &mdash;
                        </TD>
                        <TD>
                            &mdash;
                        </TD>
                    </TR>
                    <TR>
                        <TD COLSPAN="6">
                            Подготовка к&nbsp;школе
                        </TD>
                    </TR>
                    <TR>
                        <TD>
                            лепка, рисование, окружающий&nbsp;мир,
                            математика, письмо,
                            развитие&nbsp;речи,
                            знакомство с&nbsp;буквами, игры
                        </TD>
                        <TD>
                            3-4&nbsp;года
                        </TD>
                        <TD>
                            45
                        </TD>
                        <TD>
                            350
                        </TD>
                        <TD>
                            300
                        </TD>
                        <TD>
                            300
                        </TD>
                    </TR>
                    <TR>
                        <TD>
                            математика, письмо, чтение,
                            окружающий&nbsp;мир,
                            развитие&nbsp;речи, игры
                        </TD>
                        <TD>
                            5-7&nbsp;лет
                        </TD>
                        <TD>
                            60
                        </TD>
                        <TD>
                            350
                        </TD>
                        <TD>
                            300
                        </TD>
                        <TD>
                            250
                        </TD>
                    </TR>
                    <TR>
                        <TD COLSPAN="6">
                            Логопедия
                        </TD>
                    </TR>
                    <TR>
                        <TD>
                            &nbsp;
                        </TD>
                        <TD>
                            3-12&nbsp;лет
                        </TD>
                        <TD>
                            45
                        </TD>
                        <TD>
                            350
                        </TD>
                        <TD>
                            300
                        </TD>
                        <TD>
                            &mdash;
                        </TD>
                    </TR>
                </TABLE>
            </div>
        </div>
    </section>
