    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">

                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Местоположение</h3>
                        <p>
                            {% for adress in site.address %}
                                {{ adress.line }} <br>
		                    {% endfor %}
                        </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Я в сети</h3>
                        <ul class="list-inline">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                            </li>
		                    {% endfor %}
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <img src="/img/8e96dff.png" width="267" height="443" alt="" class="footer-image" />
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        &copy; Волгина&nbsp;Т.&nbsp;А. 20{{ site.time | date: '%y' }}
                    </div>
                    <div class="col-lg-6">
                        Сайт создан веб-студией <a href="http://web-studio-balance.ru">Баланс</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
